<ion-view title="Reset Password">
<ion-header-bar align-title="left" class="bar-positive">

  
    <div class="buttons">
      <button class="button button-clear" ng-click="back()">Back</button>
    </div>
      <h1 class="title">Reset Password</h1>
</ion-header-bar>
    <ion-content>
        <div>
            <div class="list list-inset">
                <label class="item item-input">
                    <input ng-model="username" type="text" placeholder="Email" />
                </label>
                
            </div>

            
            <button  ng-click="register(username)" class="button button-dark">Reset Password</button>
        
        </div>
        
        
    </ion-content>
    
</ion-view>